*{
    box-sizing: border-box;
    font-family: Arial;
    text-align: inherit;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: rgb(231, 231, 231);
    border-bottom: 1px solid rgb(255 255 255 /0.1);
    box-shadow: 0 0 6px 0 rgb(0,0,0,0.53);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > *{
    margin: 5px 10px;
}
header a{
    text-decoration: none;
    color: black;
}
header form{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
header form button{
    border: none;
    background: none;
}

h1{
    text-align: left;
    margin: 10px;
    text-transform: uppercase;
    font-size: 125%;
    font-weight: normal;
}
.linha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.conteudo{
    display: flex;
    flex-direction: column;
    padding: 20px; 
    flex-grow: 1;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    padding: 10px;
    resize: none;
}
input{

    padding: 7px 14px;
    border: 1px solid #949494;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    padding: 7px 14px;
    border: none;
    background-color: #5a5a5a;
    text-transform: uppercase;
    color: #fff;
    text-align: center;

}
footer{ 
    background-color: rgb(231, 231, 231);
    padding: 15px 20px;
    text-align: center;
    border-top:  1px solid rgb(255 255 255 /0.1);;
    box-shadow: 0 0 6px 0 rgb(0,0,0,0.53);

}
