*{
    box-sizing: border-box;
    font-family: Arial;
    text-align: inherit;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/NetfolioBanner.png');
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgb(0,0,0,0.53);
    background-color: #dddddd;
background-image: linear-gradient(315deg, #dddddd 0%, #ebebeb 74%);
width: 250px;
}

form > * {
    margin: 10px;
    
}

input{

    padding: 7px 14px;
    border: 1px solid #949494;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    padding: 7px 14px;
    border: none;
    background-color: #5a5a5a;
    text-transform: uppercase;
    color: #fff;

}