.btnadd{
    width: 250px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
    color: #b5b5b5;
    margin: 20px;
}
.btnadd i{
    font-size: 100px;
    margin-bottom: 20px;
}
.boxart{
    width: 250px;
    min-height: 280px;
    background-color: white;
    box-shadow: 0 0 6px 0 #00000038;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.boxart .img{
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}
.boxart .linha{
    background-color: #efefef;
    padding: 10px;
    align-items: center;
}
.boxart .datahora{
    flex-grow: 1;
}
.boxart i{
    color: rgb(95, 95, 95);
}

#formenviar {
display: flex;
flex-direction: column;
padding: 10px;
}

#formenviar > * {
    margin: 10px;
    
}