

.boxpubli{
    width: 100%;
    min-height: 535px;
    background-color: white;
    box-shadow: 0 0 6px 0 #00000038;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
    max-height: calc(100vh - 210px);
}

.boxautor{
    align-items: center;

}
.boxautor i{
    font-size: 50px;
    margin-right: 20px;

}
.boxautor h1{
    margin: 0px;
}
.boxautor h2{
    font-size: 90%;
    font-style: italic;
}
.boxautor img{
    border-radius: 1000px;
    width: 60px;
    height: 60px;
    padding: 10px;
}
.boxpubli .img{
    flex-grow: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #404040;
}
.coluna{
    max-width: 390px;
}
.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #c3c3c3;
}
.icones i{
    color: rgb(95, 95, 95);
}
.boxrolagem{
    overflow-y: auto;
    max-height: calc(100% - 140px);
}
.boxdescri{
    font-style: italic;
    padding: 20px;
    display: block;
    text-align: justify;
    border-bottom: 1px solid #c3c3c3;
}
.boxComent{
    padding: 20px;
    padding-bottom: 0px;
}
.boxComent .texto{
    margin-top: 10px;
}
.formComentario{
    display: inline-flex;
    padding: 20px;
}
.formGostei{
    display: inline-flex;
}